@model IEnumerable<VitrineSemiJoias.ViewModels.ProductViewModel>

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Gerenciamento de Produtos | Todos Produtos";
}

<p>
    <a asp-action="Create">Add Novo Produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Foto
            </th>
            <th>
                Cˇdigo da Joia
            </th>
            <th>
                Titulo
            </th>
         
            <th>
                Prešo
            </th>                    
            <th>
               Categoria
            </th>
            <th>
                Disponibilidade
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    # @item.ImageUrl
                </td>
                <td>
                    # @item.JewelryCode
                </td>
            <td>
                @item.Title
            </td>         
            <td>
                    @item.Price.ToString("C2")
            </td>                   
            <td>
                    @item.CategoryEnum.ToString()
            </td>
                <td>
                    @if (item.IsAvailable)
                    {
                        <span class="badge bg-success">Ativo</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">Inativo</span>
                    }
                </td>              
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>